body {
	margin-top: 0px;
	background-color: #dfdfdf;
}


nav {

	ul {	
		display: inline-block;
		list-style: none;
		font-size: 18px;
		padding-left: 5px;
		padding-bottom: 40px;
		border-style: solid;
		border-width: 1px;
		border-color: #031B51;
		background: #031B51;
		margin-top: 0;
		width: 100%;

		li {
			float: left; 
			margin-right: 20px;


			a {
				text-decoration: none;
				color: #ffffff;

				&:hover {
				background-color: #eee;	
				color: rgb(143, 0, 44);

				}
			}	
		}
	}
}

nav ul li ul.nav-sub{
	display: none;
	position: absolute;
	margin: 0px;
	padding-left: 0px;

		li {
			float: none;

				
		}
}

nav ul li:hover ul.nav-sub {
	display: block;

}

img.side {
	float: left;
}

img.theater {
	float: left;
	width: 900px;
	height: auto;
}

div.wtvr {
	float: left;
	width: 900px;
}

h2 {
	padding-left: 300px;
}

h1 {
	padding-left: 10px;
}

p {
	padding-left: 50px;
}

nav {

	ul.nav-btm {
	border-top: 1px solid black;
	width: 1199px;
	padding-top: 30px;
	padding-left: 305px;
	}

	li.bar {
		padding-right: 20px;
		border-right: 2px solid black;
	}
}
